@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url("https://use.typekit.net/xbs5fht.css");

*{
  margin: 0;
  padding: 0;
  color: #323232;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
}

.results_container {
  display: flex;
  justify-content: center;
}

.details_container {
  width: 75%;
  background-color: white;
}

.mission_name {
  margin: 30px 0px 10px 30px;
}

.details_result > img {
  width: 100%;
}

.text_content_container {
  margin: 0 15px 20px 30px;
}

.image_text {
  font-size: small;
  margin: -5px 0px 20px 25px;
}

.details_description {
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.successful_message {
  color: #81b214;
}
.unsuccessful_message {
  color: #dd2c00;
}

.mission_subheader {
  margin-top: 20px;
}

li {
  margin: 5px 0px 5px 20px;
  list-style-type: square;
}

.links {
  margin: 30px 0 20px 0;
}
.links > a {
  text-decoration: none;
  margin: 15px;
  padding: 10px 45px 10px 45px;
  color: white;
  background-color: #43658b;
}

.error {
  padding: 3rem;
  font-size: 22px;
  color: red;
  margin: 0 auto;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10em;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: orange;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}