* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: sans-serif;
  background-image: url("../../images/space-background-large.jpg");
  /* Image by Ashwini Chaudhary on Unsplash.com - URL "https://unsplash.com/photos/czPD6s3JQmk" */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact__main {
  margin-top: 10vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 80vw;
  max-width: 760px;
  min-width: 300px;
  padding: 3em 2em;
  background: whitesmoke;
  border-radius: 3px;
  box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
  -webkit-box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
  -moz-box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline-width: 0;
  background-color: #c8cbe7;
}

form button {
  background: #ffcc00;
  border: none;
  width: 200px;
  padding: 1rem;
  color: #323232;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.passed-validation {
  display: none;
  text-align: center;
  color: rgb(233, 227, 227);
  font-size: 2rem;
  font-weight: 900;
  margin: 10px 0px 10px 0px;
}
