* {
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: #fabea7;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: whitesmoke;
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline-width: 0;
  background-color: #f5f1da;
}

button {
  background: #382933;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}


.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.passed-validation {
  display: none;
  text-align: center;
  color: #81b214;
  font-size: 2rem;
  font-weight: 900;
  margin: 10px 0px 10px 0px;
}