.details__body {
  background-image: url("../../images/space-background-large.jpg");
  /* Image by Ashwini Chaudhary on Unsplash.com - URL "https://unsplash.com/photos/czPD6s3JQmk" */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.details__main {
  display: flex;
  justify-content: center;
}

.details_container {
  width: 75%;
  min-height: 80vh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details__missionName {
  margin: 10px 0px;
  font-size: 2.5rem;
  color: rgb(233, 227, 227);
  align-self: flex-start;
}
.details_card {
  background-color: #fff;
  box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
  -webkit-box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
  -moz-box-shadow: 2px -1px 54px 7px rgba(235, 226, 226, 0.37);
}
.details_card > img {
  width: 100%;
}

.details__textsContainer {
  margin: 20px 15px;
}

.details_description {
  padding-bottom: 20px;
}

.details__successMessage {
  color: #81b214;
  font-weight: 500;
}
.details__failedMessage {
  color: #dd2c00;
  font-weight: 500;
}

.details__subHeader {
  margin-top: 20px;
}

li {
  margin: 5px 0px 5px 20px;
  list-style-type: square;
}

.details__links {
  margin: 30px 0 20px 0;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details__links > a {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  padding: 10px 51px;
  color: white;
  background-color: #43658b;
}
.details__links .backLink {
  padding: 10px 75px;
}

@media screen and (max-width: 767px) {
  .details_container {
    width: 85%;
  }
  .details__links {
    margin: 50px 0;
    flex-direction: column;
  }
  .details__links > a {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .details__body {
    background-image: none;
  }
  .details__missionName {
    color: #323232;
    font-size: 1.8rem;
  }
  .details_container {
    width: 90%;
  }
  .details__textsContainer {
    margin: 20px 0px;
  }
}
