@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
@import url("https://use.typekit.net/xbs5fht.css");

* {
  margin: 0;
  padding: 0;
  color: #323232;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

/* ############################################
--- <<<     Navbar    >>> ---
---############################################ */

nav {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  margin-bottom: 7vh;
  background-color: #facf5a;
}

.nav__logo img {
  width: 100px;
  margin: -20px 0 -20px 5vw;
}

.nav__links {
  width: 30%;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  margin: 10px 10px;
  color: #323232;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 16px;
}

.nav__links a:hover {
  border-bottom: #323232 solid 2px;
  padding-bottom: 4px;
}

.nav__links--active a {
  font-weight: 600;
  font-size: 18px;
  border-bottom: #323232 solid 2px;
  padding-bottom: 4px;
  font-weight: bold;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: #323232;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav__logo {
    width: 70%;
  }

  .nav__links {
    width: 35%;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #ffcc00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__links li {
    margin-top: 8vh;
    opacity: 0;
  }

  .nav__homeLink {
    margin-top: 12vh !important;
  }

  .nav__burger {
    display: block;
    margin-right: 4vw;
  }

  .nav--active {
    transform: translateX(0%);
  }
  .body--preventScrolling {
    height: 100%;
    overflow: hidden;
  }

  @keyframes nav--linksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .nav--burgerToggle .nav__burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav--burgerToggle .nav__burgerLine2 {
    opacity: 0;
  }
  .nav--burgerToggle .nav__burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  nav {
    min-height: 8vh;
  }
  .nav__links {
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    min-height: 8vh;
  }
  .nav__logo img {
    width: 80px;
  }
  .nav__links {
    width: 60%;
  }
}

.index__title {
  margin: 1rem;
  text-align: center;
  padding-bottom: 20px;
  font-family: good-times, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  .index__title {
    font-size: 2rem;
  }
}

.index__main {
  width: 100%;
}

.index__pastLaunchContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #fff;
}

.index__pastLaunchesResult {
  margin: 1rem;
  padding: 2rem;
  width: 320px;
  transition: transform 200ms ease-in;
  text-decoration: none;
}

.index__pastLaunchesResult:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
}

.badge {
  max-width: 50%;
  display: flex;
  margin: auto;
}
.mission__name {
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: 700;
  font-style: normal;
  padding-top: 30px;
}

.index__failedMessage {
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: whitesmoke;
  background-color: #dd2c00;
  text-align: center;
}
.index__successMessage {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: whitesmoke;
  background-color: #81b214;
  text-align: center;
}

.error {
  padding: 3rem;
  font-size: 22px;
  color: red;
  background: white;
  margin: 0 auto;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10em;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #facf5a;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
